/* Loader */
.Load{
    display: flex;
    width: 100px;
    justify-content: space-between;
}
.Loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader .25s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes loader{
    100%{
        opacity: 0;
        z-index: -10;
    }
}
.Cl1{
    color: #9356DC;
}
.Cl2{
    color: #FF79DA;
}
.Cl3{
    color: #99E2D0;
}
.Loading{
    height: 20px;
    width: 20px;
    animation: slide 2s;
    animation-iteration-count: 1;
}
@keyframes slide{
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    49%{
        opacity: 0;
        transform: translateX(-120px);
    }
    51%{
        opacity: 0;
        transform: translateX(120px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
/* Loader fin */
/* Header */
*{
    font-family: roboto;
}
a{
    list-style: none;
    color: black;
    text-decoration: none;
}
header{
    display: block;
    position: relative;
}
header img{
    height: 30px;
    width: 170px;
    margin: 20px 0 10px 0;
}
.Back__Index{
    width: 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    font-size: 20px;
}
.Header__Logo{
    width: 100%;
    text-align: center;
}
.Survol:hover{
    filter: brightness(1.15);
    box-shadow: 0px 0px 20px #999;
}
/* Header */
/* Main */
.Section1{
    height: 220px;
}
.Section2{
    position: relative;
    border-radius: 30px;
    background: #ffffff;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1600px;
}
/* Main */
/* Section 1 */
.Section1 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
h1{
    margin: 35px 0 0 0;
}
/* Fin Section 1 */
/* Section 2 */
h1{
    font-family: shrikhand;
    font-size: 28px;
    font-weight: initial;
    width: 100%;
}
/* Partie Heart */
.Card__Heart{
    width: 51px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.Card__Heart-menu{
    width: 26px;
    height: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Heart__Like{
    font-size: 0;
    transition: all 1s ease-in-out;
    left: 12.5px;
    top: 25px;
    background: -webkit-linear-gradient(95deg, rgba(255,121,218,1) 4%, rgba(147,86,220,1) 43%); /* Permet de modifier la couleur du coeur cacher */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Heart{
    font-size: 25px;
    left: 0;
}
.Heart__Like,.Heart{
    position: absolute;
}
.Card__Heart-menu:hover .Heart__Like{
    left: 0;
    top: 0;
    font-size: 25px;
    cursor: pointer;
}
/* Validation pour le coeur */
#navi:checked ~ label .Heart__Like{
    font-size: 25px;
    transition: all 1s ease-in-out;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(95deg, rgba(255,121,218,1) 4%, rgba(147,86,220,1) 43%); /* Permet de modifier la couleur du coeur cacher */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.navigationCheckbox{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
#navi{
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 1000;
    cursor: pointer;
}
/* Validation pour le coeur */
/* Fin Partie Heart */
.Card__Title{
    margin-left: 5%;
    box-shadow: 0px 5px 0px -1px #99e2d0;
    width: 40px;
    height: 22px; /* Animation */
    animation: ItemAppear 0.6s;
    transform: scale(0);
    animation-fill-mode: both; /* Animation */
}
.Card__Header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 10% 0 5%;
}
.Card{
    display: flex;
    justify-content: space-between;
    width: 93%; 
    margin: 4%; 
    box-shadow: 1px 2px 10px #999;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
.Card-left{
    width: 100%;
    height: 65px;
    transition: all 0.5s ease-out;
}
.Card-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
    color: #ffffff;
    font-size: 19px;
    overflow: hidden;
    transition: all .5s ease-out;
}
.Check{
    transform: rotate(0deg);
}
.Card:hover .Card-right{
    width: 15%;
}
.Card:hover .Check{
    transform: rotate(360deg);
    transition: all .5s ease-out;
    animation-fill-mode: both;
}
.Card:hover .Card-left{
    width: 85%;
}
.Card:active .Card-right{
    width: 15%;
}
.Card:active .Card-left{
    width: 85%;
}
.Dish-top{
    margin: 10px 0 5px 10px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Dish-bot{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px 10px 10px;
    font-size: 15px;
}
.Dish{
    width: 85%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Price{
    margin: 0;
}
/* Apparition progressive */
.Card__Menu{
    margin-top: 35px;
    width: 100%;
}
.Card{
    animation: ItemAppear 1.6s;
    transform: scale(0);
    animation-fill-mode: both;
}
.C1{
    animation-delay: 1.5s;
}
.C2{
    animation-delay: 1.7s;
}
.C3{
    animation-delay: 1.9s;
}
.C4{
    animation-delay: 2.1s;
}
.C5{
    animation-delay: 2.3s;
}
.C6{
    animation-delay: 2.5s;
}
.C7{
    animation-delay: 2.7s;
}
.C8{
    animation-delay: 2.9s;
}
.C9{
    animation-delay: 3.1s;
}
.C10{
    animation-delay: 3.3s;
}
.C11{
    animation-delay: 3.5s;
}
.C12{
    animation-delay: 3.7s;
}
.C13{
    animation-delay: 3.9s;
}
@keyframes ItemAppear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
/* Animation progressive */
.Btn__Commander{
    text-align: center;
    margin: 65px 0 65px 0;
}
.Commander{
    border-radius: 25px;
    padding: 14px 50px 14px 50px;
    box-shadow: 1px 2px 10px #999;
    background: linear-gradient(172deg, rgba(255,121,218,1) 10%, rgba(147,86,220,1) 90%);
    color: #eeeeee;
}
/* Fin Section 2 */
/* Footer */
footer{
    background-color: #353535;
}
#Footer h3{
    margin: 0 0  10px 25px;
    padding-top: 25px;
    color: #ffffff;
    font-family: shrikhand;
    font-size: 17px;
}
ul{
    list-style: none;
    padding: 0 0 15px 0;
    margin: 20px 0 0 25px;
    margin-block-end: 0;
}
li a{
    color: white;
}
li{
    margin: 10px 0 10px 0;
}
.IconeFooter{
    width: 20px;
    font-size: 12px;
}
/* Fin Css Mobile */
/* Responsive Tablette */
@media all and (min-width:992px)
{
    #Card__Menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .Card__Menu {
        max-width: 600px;
        width: 100%;
    }
    
}