/** Header **/
p{
    font-family: shrikhand;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header img{
    height: 30px;
    width: 170px;
    margin: 20px 0 10px 0;
}
.Recherche{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #eaeaea;
}
.Recherche__Formulaire input{
    border-style: none;
    text-align: center;
    background-color: #eaeaea;
}