/* Header */
p{
    font-family: toroto;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header img{
    height: 30px;
    width: 170px;
    margin: 20px 0 10px 0;
}
.Search{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: #eaeaea;
}
.Search__Form input{
    border-style: none;
    text-align: center;
    background-color: #eaeaea;
}
/* Section1 */
#Section1{
    text-align: center;
}
.Exploration{
    border: 1px solid red;
}
.Function__Bars{
    display: flex;
    justify-content: center;
}
.Function__Inside{
    display: flex;
    align-items: baseline;
}